#heading-1 {
    font-family: 'Playfair';
    font-style: normal;
}
#heading-2 {
    font-family: 'Playfair';
    font-style: oblique;
}
#heading-3 {
    font-family: 'Playfair_Italic';
    font-style: italic;
}
