.main-container div {
    font-size: 1.5em;
    background-color: #dfc0ed;
    margin: 1em;
    padding: 1em;
}
.main-container div p {
    background-color: #fff;
    /*margin: 1em;*/
    padding: 1em;
}
.parent-1 {
    line-height: 1.45em;
}

.parent-2 {
    line-height: 1.0em;
}

.parent-3 {
    line-height: 0.75em;
}

.parent-4 {
    line-height: 0.1em;
}

.parent-5 {
    line-height: 2.0em;
}

.parent-6 {
    line-height: 4.0em;
}
