.container {
    background-image: url("./imgs/instructorIsLost.jpg");
    background-repeat: no-repeat;
    background-color: #000;
    height: 300px;
}

.bg-1 { background-size: auto; }
.bg-2 { background-size: 700px 100px; }
.bg-3 { background-size: 90% 80%; }
.bg-4 { background-size: cover; }
.bg-5 { background-size: contain; }

body {
    margin: 10px;
    padding: 0;
}
