.container {
    background-image: url("./imgs/instructorIsLost.jpg");
    background-repeat: round;
    height: 700px;
    color: #fff;
    text-align: center;
    display: flex;
}

.container p {
    margin: auto;
    width: 80%;
    min-width: 200px;
    font-size: 18pt;
    align-content: center;
}
